<div class="mt-4">
  <div class="m-3 fs-5">Editing</div>
  <igx-grid
    #grid1
    [data]="localData"
    [autoGenerate]="false"
    (columnInit)="onColumnInit($event)"
    width="100%"
    height="650px"
  >
    <igx-column
      header="Employee ID"
      field="EmployeeID"
      [editable]="true"
    ></igx-column>

    <igx-column
      header="First Name"
      field="FirstName"
      [editable]="true"
    ></igx-column>

    <igx-column
      header="Last Name"
      field="LastName"
      [editable]="true"
    ></igx-column>

    <igx-column header="Country" field="Country" [editable]="true"></igx-column>

    <igx-column
      header="Age"
      field="Age"
      dataType="number"
      [editable]="true"
    ></igx-column>

    <igx-column
      header="Registerer Date"
      field="RegistererDate"
      [dataType]="'date'"
      [editable]="true"
    ></igx-column>

    <igx-column header="Active" field="IsActive" [editable]="true"></igx-column>
  </igx-grid>
</div>
